.container {
    background-color: #d30b27;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px;
    gap: 20px;
    color: #fff;
}

.item {
    padding: 20px;
    text-align: center;
}

.item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list,
.listHours {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listHours li {
    margin-bottom: 4.2px;
}

.list li,
.listHours,
.item p {
    font-size: 16px;
    line-height: 26px;
}

.item h3 {
    font-size: 22px;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1240px) {
    .container {
        padding: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 680px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .item {
        padding: 0;
        text-align: center;
    }
}